* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Podkova", serif;
  font-weight: 600;
  color: white;
}
h1 {
  font-weight: 700;
  font-size: 3rem;
}

.etch-container {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 1rem;
  background: rgb(3, 105, 129);
  background: linear-gradient(
    180deg,
    rgba(3, 105, 129, 1) 39%,
    rgba(215, 192, 114, 1) 100%
  );
}
.user-number {
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 3px;
  text-align: center;
  color: black;
}
.grid-size {
  margin-bottom: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-submit {
  background-color: rgb(18, 105, 82);
  padding: 15px 17px;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.reset {
  background-color: rgb(18, 105, 82);
  padding: 15px 17px;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 3px;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 700px;
  width: 700px;
  display: flex;
  flex-direction: column;

  background-color: aliceblue;
}

.row {
  display: flex;
  flex: 1;
}
.column {
  flex: 1;
}

label {
  margin-right: 0.8rem;
  font-size: 1.2rem;
}

.warning {
  color: red;
  background-color: aliceblue;
}
.footer * {
  color: black;
}
.footer img {
  width: 3rem;
  height: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
